@import "partials/tailwind";

.wp-admin.ozopanel {
    .Toastify__toast-container.Toastify__toast-container--top-right {
        top: 3em;
    }

    @import "partials/form";
    @import "partials/admin_column";

    .ozop-content {
        max-width: 1020px;
        margin-top: 30px;
        margin: auto;
    }

    .ozop-shortable-item {
        @apply cursor-grab relative rounded border border-gray-400 bg-white px-4 py-2 mb-2 font-semibold text-gray-800 shadow hover:bg-gray-100;
    }

    .ozop-shortable-item {

        input {
            margin-right: 8px;
        }

        .ozop-arrow-icon {
            transition: transform 0.3s ease;
        }

        .ozop-arrow-icon.ozop-collapsed {
            transform: rotate(0deg);
        }

        .ozop-arrow-icon.ozop-expanded {
            transform: rotate(180deg);
        }
    }

    .ozop-dropdown-row {
        li {
            margin-bottom: 0;
        }
    }
}