.ozop-restrictions-form {

    .ozop-restrictions-id {
        margin: 20px 0;

        label {
            margin-right: 10px;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .ozop-restrictions-menu {
        input[type="checkbox"] {
            margin: 0;
        }

        label {
            margin-left: 10px;
        }

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 25px;

        .ozop-restrictions-menu-head {
            display: flex;
            align-items: center;
            background: #646970;
            padding: 10px 20px;

            label {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .ozop-restrictions-menu-item {
            border: 1px solid #dcdcde;
            background: #fff;

            .ozop-restrictions-submenu {
                padding: 20px 20px 12px 20px;

                .ozop-restrictions-submenu-item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                }
            }
        }
    }
}