@import "partials/tailwind";

.wp-admin.ozopanel {
    .Toastify__toast-container.Toastify__toast-container--top-right {
        top: 3em;
    }

    @import "partials/form";
    @import "partials/admin_column";

    .ozop-content {
        max-width: 1020px;
        margin-top: 30px;
        margin: auto;
    }
    .ozop-sortable-list {
        list-style: none;
        padding: 0;
    }

    .ozop-shortable-item {
        @apply cursor-grab rounded border border-gray-400 bg-white px-4 py-2 font-semibold text-gray-800 shadow hover:bg-gray-100;
        display: flex;
        justify-content: space-between;
    }
}