@import "partials/tailwind";

.wp-admin.ozopanel {
    .Toastify__toast-container.Toastify__toast-container--top-right {
        top: 3em;
    }

    @import "partials/form";
    @import "partials/admin_column";

    .ozop-content {
        max-width: 1020px;
        margin: auto;
    }

    .ozop-shortable-item {
        @apply cursor-grab rounded border border-gray-400 bg-white px-4 py-2 font-semibold text-gray-800 shadow hover:bg-gray-100;
    }

    .ozop-restrictions {
        .ozop-restrictions-del-btn {
            margin-left: 20px;
            background-color: #973e3e;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;

            th {
                background-color: #646970;
                color: white;
                text-align: left;
                padding: 10px;
                font-weight: bold;
            }

            td {
                padding: 10px;
                border-bottom: 1px solid #ccc;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            input[type="checkbox"] {
                margin: 0;
            }
        }

        button {
            background-color: #2271b1;
            color: white;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
        }
    }
}